/* General Demo Style */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-size: 100%;
  padding: 1%;
  margin: 0;
  height: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  background-color: rgba(65, 132, 243, 0.1);
}

li {
  list-style: none;
  float: left;
  overflow-y: auto;
}

li:hover {
  background-color: whitesmoke;
  font-size: 1.1em;
}

.container {
  width: 600px;
  max-height: 450px;
  position: relative;
  padding: 1% 0;
  text-align: center;
}

#btnFullscreen {
  margin: 0 0 15px 1%;
  font-size: 1.5em;
  box-shadow: 0 0 1px 2px #00000047;  
  width: 95%;
  border-radius: 20px;
  border-color: rgba(255,255,255,0.01);
}

#btnFullscreen:hover {
  box-shadow: 0 0 1px 3px #00000075;
}

#btnRefresh {
  width: 18%;
  display: none;
}

#ScripsInfo {
  text-align: center;
}

.dvScrips {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
  margin: 10px 0;
}

.dvScrips ul {
  margin-top: 0;
  padding-top: 5px;
}

.Scrip {
  width: 120px;
  float: left;
}

.Details {
  width: 130px;
  float: left;
}

.headerLabel {
  font-size: 1.5em;
  margin: 15px 0;
  box-shadow: 0 0 1px 1px #ffe;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 75%;
  font-weight: bold;
}

.center{
	text-align: center;
}

.small {
  font-size: small;
  float: right;
}