body {
font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
font-size: 100%;
background: #b0d1fb;
}

.container {
	width: 250px;
    max-height: 200px;
    margin: 0 auto;
    padding: 10px 0;
	text-align: center;
	box-shadow: 0 0 10px 5px #eeeeff;
}

.credit{
	display: block;
    font-size: small;
}

input[type=button]{
	font-size: 20px;
	cursor: pointer;
	padding: 0 10px;
    margin: 5px;
    min-width: 80px;
	min-height: 50px;
	border-radius: 25px;
    box-shadow: 0 0 5px 2px blue;
}

input:hover[type=button]{
	font-weight: bold;
	box-shadow: 0 0 25px 2px blue;
}