*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html {font-size: 100%;padding: 0;margin: 0;height: 100%;background: none;}
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #aaa;
}

li{
	list-style: none;
	float: left;
	margin: 0 10px;
}

a{
	display: inline-block;
}

a:hover
{
	transform: scale(1.25);
	transition: 0.5s ease;
}

.container {
	width: 600px;
	height: auto;
	position: relative;
	text-align: center;
	background: #3F51B5;
	font-size: 1rem;
	padding: 5px;
	border-radius: 10px;
}

.makePassword{
	width: 90%;
	height: 40px;
	box-shadow: 0 0 5px 2px #666;
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: pointer;
}

.makePassword:hover{
	transform: rotateX(-180deg);
	transition: 0.5s ease;	
}

.makePassword:focus{
	outline: none;
}

.generated{
	display: none;
	margin: 10px auto;
}

.generated a{	
	color: whitesmoke;
	text-decoration: none;
	margin-left: 20px;
}

#password{
	display: block;
	font-size: 2rem;
	width: 95%;
	height: 60px;
	text-align: center;
	border: none;
	color: white;
	background-color: rgba(0,0,0,0);
}

#password:focus{
	outline:none;
}


.copy{
	width: 70px;
	border-radius: 10px;
	margin: 10px auto 0;
	cursor: pointer;
	font-size: 1rem;
}

#search{
	display: none;
	background-color: aliceblue;
	text-align: left;
	font-size: 1.25rem;
	border-radius: 10px;
	min-height: 75px;
	padding-bottom: 1%;
}

#search ul{
	margin-top: 0;
}

.searchList{
	height: 30px;
	padding: 10px 0;
	margin: 0 auto;
	width: 80%;
}

.searchPasswords li a{
	text-decoration: none;
}

.credits{
	font-size: small;
	margin: 0 auto;
	width: 98%;
}